src/csprogs.dat
src/progs.dat
src/fteqcc.ini
src/progs.lno
src/win64-fteqcc.exe
src/csprogs.lno
src/compile.bat
src/compile.sh
src/fteqcc
src/qc_compile_output.txt
src/release/csprogs.dat
src/release/progs.dat
src/fteqcc64
